<div class="screen-container">
    <div id="head">
        <h1><span id="header1">Add</span><span id="header2"> Merchant</span></h1>
    </div>
    <div id="search">
      <select id="cities" [(ngModel)]="filtered_city">
        <option *ngFor="let option of cities" value="option">{{option}}</option>
      </select>
        <div id="search-container"> 
            <img id="search-icon" src="../../assets/images/searchIcon.svg" alt="">
            <input type="text" id="searchbar" placeholder="Search" (keyup)="filter($event.target.value)">
        </div>      
        <div id="filter-buttons">
            <button id="None" name="None" (click)="clearFilters()"> None </button>
            <span id="checkdiv"><input type="checkbox" id="checkbox" name="Beer" [(ngModel)]="beerFilter" (click)="turnOthersOff('Beer')"/> Beer</span>
            <span id="checkdiv"><input type="checkbox" id="checkbox" name="Wine" [(ngModel)]="wineFilter" (click)="turnOthersOff('Wine')"/> Wine</span>
        </div>
        <div *ngFor="let item of merchants">
            <p>
                <button name="item.name" [innerHTML]='item.name + " " + item.location + " " + item.food_type' (click)="selectRecipientId(item.id)" *ngIf="showItem(item.name + ' ' + item.location + ' ' + item.food_type)"></button>
            </p>
        </div>
    </div>
</div>
