<div class="screen-container">
    <div id="head">
        <h1><span id="header1">Add</span><span id="header2"> Merchant</span></h1>
    </div>
    <div id="search">
      <select id="cities" [(ngModel)]="filtered_city">
        <option *ngFor="let option of cities" value={{option}}>{{option}}</option>
      </select>
        <div id="search-container"> 
            <img id="search-icon" src="../../assets/images/searchIcon.svg" alt="">
            <input type="text" id="searchbar" placeholder="Search" (keyup)="filter($event.target.value)">
        </div>      
        <div id="filter-buttons">
            <button id="None" name="None" (click)="clearFilters()">None</button>
            <span id="checkdiv"><button name="Beer" (click)="turnOthersOff('Beer')">Beer</button></span>
            <span id="checkdiv"><button name="Wine" (click)="turnOthersOff('Wine')">Wine </button></span>
        </div>
        <div *ngFor="let item of merchants">
            <p>
                <label name="item.name" (click)="selectRecipientId(item.id)" *ngIf="showItem(item.name + ' ' + item.location + ' ' + item.city + ', ' + item.state + ' ' + item.zip_code + ' ' + item.food_type)">
                    {{item.name}}
                    <p></p>
                    Serves: {{item.food_type}}
                    <p></p>
                    Address: {{item.location}} {{item.city}}, {{item.state}} {{item.zip_code}}</label>
            </p>
        </div>
    </div>
</div>
