<div id="head">
    <div id="title">
        <h2>Merchant Login</h2>
    </div>     
</div>

<div id="inputbody">
    <div id="input boxes">
        <input type="text" placeholder="Email Address" id="EmailBox" #emailbox/>
        <p>
        <input type="password" placeholder="Password" id="PasswordBox" #passwordbox/>
        <p>
    </div>
    <div id="buttons">
        <p>
            <button (click)="login(emailbox.value, passwordbox.value)"> Login </button>
        </p>
    
    </div>    
</div>

<div id="passwordCorrectMessage">
    <p *ngIf="correct"> Username and/or password is incorrect. Please try again. </p>
</div>
<p>salud-login-merchant-screen works!</p>
