.screen-container {
    padding-top: 39px;
    text-align: center;
}

// Global 
#head {
    background:#7BB6D7;
    padding-top: 110px;
    padding-left: 32px;
    padding-bottom: 48px;
}

#subtitle {
    font-size: 14px;
    color: #FFFFFF;

    padding-top: 10px;
}
h2 {
    font-weight: 600;
    font-size: 35px;

    color: #FFFFFF;
}

// Containers
input {
    width: 311px;
    height: 43px;

    background: #F7F6F5; 
    border: none;
    border-radius: 10px;

    font-size: 12px;
    color: #828282;
    padding-left: 16px;
}
#inputbody {
    width: 311px;
}
#EmailBox {
    margin-bottom: 30px;
}
#PasswordBox {
    margin-bottom: 80px;
}
::placeholder {
    // Font
    font-size: 12px;
    color: #828282;
}
// Buttons
button {
    width: 239px;
    height: 44px;    
    
    background: #7BB6D7;
    box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.15);
    border: none;
    border-radius: 10px;

    // Font
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}