/* You can add global styles to this file, and also import other style files */
* {
    font-family: Poppins;
    font-style: normal;
    letter-spacing: 0.02em;

    margin: 0;
}

// Global Colors


// @media only screen and (max-width: 375px) {
// }