/* You can add global styles to this file, and also import other style files */
* {
    font-family: Poppins;
    font-style: normal;
    letter-spacing: 0.02em;

    margin: 0;
}

li {
    list-style: none;
}

.screen-container {
    // width: 319px;
    // height: 728px;
    margin: 28px;
    margin-top: 56px;
    // display: inline-block;
    // margin: 0 auto;
}
.mobile-screen {
    margin: 0 auto;
    width: 375px;
    height: 812px;
    
}

#largebtn {
    width: 297px;
    height: 44px;

    background: #F4B167;
    box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.15);
    border-radius: 12px;
    border: none;

    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
}


// set static width