<div id="head" *ngIf="renderPersonal == true">
    <p>{{headerText}}'s Orders</p>
</div>
<p><br></p>
<div id="View labels">
    <div id="personenvironlabels">
        <div id="clickableLabels">
            <!-- Labels should have images-->
            <label id="renderEnvironment" (click)="renderPersonal = false"> Environment </label>
            <p></p>
            <label id="renderPersonal" (click)="renderPersonal = true"> Personal </label>
        </div>
    </div>
    <div id="environment" *ngIf="renderPersonal == false">
        <!-- More of Tia's job than mine -->
    </div>
    <div id="allOrders" *ngIf="renderPersonal == true">
        <div id="clickableLabels">
            <label id="giftedOrders" (click)="renderGifted = true">Your Gifted Orders</label>
            <p></p>
            <label id="receivedOrders" (click)="renderGifted = false">Your Received Orders</label>
        </div>
        <div id="outer-orders-gifted" *ngIf="renderGifted == true">
            <div id="orders-gifted" [innerHTML]="order"></div>
            <p><br></p>
            <div id="createOrder">
                <button (click)="createNewOrder()"> Create Order </button>
            </div>
        </div>
        <div id="outer-orders-received"  *ngIf="renderGifted == false">
            <div id="orders-received" [innerHTML]="orderReceived"></div>
            <p><br></p>
            <div id="redeemOrder">
                <button (click)="redeemAllOrders()"> Redeem Order </button>
            </div>
        </div>
    </div>
</div>