<div class="mobile-screen">
    <div class="screen-container">
        <!-- <div id="head" *ngIf="renderPersonal == true">
            <p id>{{headerText}}'s Orders</p>
        </div> -->
        <div id="head" *ngIf="renderPersonal == true">
            <h1><span id="header1">{{headerText}}'s</span><span id="header2"> Salud</span></h1>
        </div>
        <div id="head" *ngIf="renderPersonal == false">
            <h1><span id="header1">See Who's</span><span id="header2"> Celebrating</span></h1>
        </div>


        <div id="View labels">
            <div id="personenvironlabels">
                <div id="clickableLabels">
                    <!-- Labels should have images-->
                    <button id="renderEnvironment" (click)="renderPersonal = false"><img id="buttonIMG" src="../../assets/images/peopleIconorange.svg" alt="" width="22px"></button>
                    <button id="renderPersonal" (click)="renderPersonal = true"><img id="buttonIMG" src="../../assets/images/personIcon(gray).svg" alt="" width="16px"></button>
                </div>
            </div>

            <div id="staticnetwork" *ngIf="renderPersonal == false">
                <img src="../../assets/images/socialnetworkimg.jpg" width="321px" alt="">
            </div>
    
            
            <div id="allOrders" *ngIf="renderPersonal == true">
                <div id="userLabels">
                    <button id="giftedOrders" (click)="renderGifted = true">Sent Orders</button>
                    <button id="receivedOrders" (click)="renderGifted = false">Redeem Orders</button>
                </div>
                <div id="outer-orders-gifted" *ngIf="renderGifted == true">
                    <div id="orders-gifted" *ngFor="let ordr of order">
                        <div class='order-label'>
                            <label id="hiddenlabel">
                                <span id="recievedorderprofilepics">
                                    <span>
                                        <img  id="recipientpic" src={{ordr.recipient_pic}} />
                                        <img id="senderpic" src={{ordr.profile_pic}} />
                                    </span>
                                </span>
                                <span id="textinfo"> 
                                    <span id="textsenderrecipientbold">You</span><span id="textsenderrecipient">sent to</span><span id="textsenderrecipientbold"> {{ordr.recipient_name}}</span>
                                    <p id="textgift">{{ordr.merchant_name}}</p>
                                </span>
                            </label>  
                            <p>
                        </div>
                    </div>
                    <p><br></p>
                </div>
                <div id="outer-orders-received"  *ngIf="renderGifted == false">
                    <div id="orders-received" *ngFor="let order of orderReceived">
                        <div class='order-label'>
                            <label id="hiddenlabel" (click)='selectRecipientId(order.id + "," + order.gifter_name + "," +  order.merchant_name)'>
                                <span id="recievedorderprofilepics">
                                    <span>
                                        <img  id="recipientpic" src={{order.recipient_pic}} />
                                        <img id="senderpic" src={{order.gifter_pic}} />
                                    </span>
                                </span>
                                <span id="textinfo"> 
                                    <span id="textsenderrecipientbold">{{order.gifter_name}}</span><span id="textsenderrecipient">sent to</span><span id="textsenderrecipientbold"> You</span>
                                    <p id="textgift">{{order.merchant_name}}</p>
                                </span>
                            </label>  
                            <p>
                        </div>
                    </div>
                    <p><br></p>
                    <!--<div id="redeemOrder"><button (click)="redeemAllOrders()"> Redeem Order </button></div>-->
                </div>
                <!-- <div id="createOrder">
                    <button (click)="createNewOrder()"> Create Order </button>
                </div> -->
            </div>
        </div>
        <div id="createOrder">
            <button id="largebtn" (click)="createNewOrder()">Send A Salud</button>
        </div>
    </div>
</div>