<!-- Possible to make sign up for each type a different page? -->
<div id="head">
    <div id="title">
        <h2>Sign Up</h2>
        <p id="subtitle">Let's get started.</p>
    </div> 
</div>
<!-- HTML CHANGES -->
<div id="pictureUpload">
    <label for="file">
        <img src="../../assets/images/profileupload.png" alt="" width="122px">
    </label>

    <input type="file" accept="image/gif, image/jpeg, image/png" name="image" id="file" (change)="selectFile($event)">
    <div><img [src]="url" accept="image/gif, image/jpeg, image/png" *ngIf="url" height="200" width="200" /></div>
</div>   
<!-- HTML CHANGES -->  
<div id="buttons">
    <p>
        <label id="UserButton" (click)="togglePersonalUser()">Personal User </label>
        <label id="MerchantButton" (click)="toggleMerchantUser()">Merchant User </label>
    </p>
</div> 
<div id="inputbody">
    <div id="inputboxes">
        <input type="text" placeholder="Full Name" id="NameBox" (keyup)="addName($event.target.value)">
        <p>
        <input type="number" placeholder="Phone Number" id="PhoneBox" (keyup)="addPhoneNum($event.target.value)">
        <p>
        <input type="text" placeholder="Email Address" id="EmailBox" (keyup)="addEmail($event.target.value)">
        <p>
        <input type="text" placeholder="Password" id="PasswordBox" (keyup)="addPassword($event.target.value)">
        <p>
    </div>
    <div id="additional-params-personal" *ngIf="showPersonalUserInfo">
        <select id="payment_types" [(ngModel)]="chosen_option">
            <option *ngFor="let option of options" value="{{option}}">{{option}}</option>
        </select>
        <button id="PersonalUserSubmit" (click)="submitPersonalUser()">Submit</button>
    </div>
    <div id="additional-params-merchant" *ngIf="showMerchantUserInfo">
        <div id="Merchant input boxes">
            <input type="text" placeholder="Street Address" id="StreetAddressBox" (keyup)="addStreet($event.target.value)">
            <p>
            <input type="text" placeholder="City" id="CityBox" (keyup)="addCity($event.target.value)">
            <p>
            <input type="text" placeholder="State" id="StateBox" (keyup)="addState($event.target.value)">
            <p>
            <input type="text" placeholder="ZipCode" id="ZipcodeBox" (keyup)="addZipCode($event.target.value)">
            <p>
            <input type="text" placeholder="FoodType" id="FoodTypeBox" (keyup)="addFoodType($event.target.value)">
        </div>
        <button id="MerchantUserSubmit" (click)="submitMerchantUser()">Submit</button>
    </div>  
</div>
<p>salud-signup-screen works!</p>
