<div id="head">
    <div id="title">
        <h2>Sign Up</h2>
        <p>Let's get started.</p>
    </div>
    
    <div id="picture-upload">
        <p> fill in code here</p>
    </div>        
</div>

<div id="inputbody">
    <div id="input boxes">
        <input type="text" placeholder="Full Name" id="NameBox">
        <p>
        <input type="text" placeholder="Phone Number" id="PhoneBox">
        <p>
        <input type="text" placeholder="Email Address" id="EmailBox">
        <p>
        <input type="text" placeholder="Password" id="PasswordBox">
        <p>
    </div>
    
    
    <div id="buttons">
        <p>
            <button routerLink="/salud-signup-screen"> Sign Up as a Personal User </button>
            <br>
            <button routerLink="/salud-login-personal-screen"> Sign Up as a Merchant User </button>
        </p>
    
    </div>    
</div>
<p>salud-signup-screen works!</p>
