.screen-container {
    padding-top: 39px;
    text-align: center;
}

// MAIN SCREEN ----------------------------------------------------

// Head 
#head {
    background: #F4B167;

    padding-left: 28px;
    padding-top: 110px;
    padding-bottom: 32px;
}
#subtitle {
    font-size: 14px;
    color: #FFFFFF;

    padding-top: 10px;
}
h2 {
    font-weight: 600;
    font-size: 35px;

    color: #FFFFFF;
    // line-height: 52px;
}
// Profile Picture Upload
#picUpload-container>input {
    display: none;
}
#picUpload-container {
    width: 122.21px;
    height: 122.21px;
    background: url(../../assets/images/profileUploadbg.svg);
    background-size: 122.21px;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 10px rgba(130, 130, 130, 0.25));
    
    position: absolute;
    left: 221px;
    top: 131px;
    border-radius: 50%;
    overflow: hidden;
}
#pencilIcon {
    position: absolute;
    left: 303.57px;
    top: 225px;
}

// Input Boxes
#NameBox, #EmailBox, #PhoneBox, #PasswordBox {
    width: 311px;
    height: 43px;

    background: #F7F6F5; 
    border: none;
    border-radius: 10px;

    font-size: 12px;
    color: #828282;
    padding-left: 16px;
}
#NameBox {
    margin-bottom: 20px;
}
#PhoneBox {
    margin-bottom: 20px;
}
#EmailBox {
    margin-bottom: 20px;
}
#PasswordBox {
    margin-bottom: 40px;
}
// Buttons (User/Merchant Select)
#UserButton, #MerchantButton {
    background: none;    
    border: none;
    border-radius: 6px;

    // Font
    font-weight: 500;
    font-size: 14px;
    color: #828282;

    margin: 16px;
}
// Clicked buttons
#UserButton:focus, #MerchantButton:focus {
    background-color:#FEF6EF;  
    padding: 4px 10px 4px 10px;
    color: #F4B167;
}


// User SCREEN ----------------------------------------------------
#PersonalUserSubmit {
    width: 239px;
    height: 44px;    
    
    background: #F4B167;
    box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.15);
    border: none;
    border-radius: 10px;

    // Font
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

    margin-top: 30px;
    margin-left: 36px;
    margin-right: 36px;
}
// Dropdown
#payment_types {
    width: 311px;
    height: 33px;

    background-color: #F7F6F5; 
    background-image: url(../../assets/images/dropDownSignUp.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 280px;
    background-size: 4%;
    border: none;
    border-radius: 10px;

    margin-top: 10px;
    padding: 5px;
    padding-left: 11px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;


    font-size: 12px;
    font-weight: normal;
    color: #484848;
}


// Merchant SCREEN ----------------------------------------------------
#StreetAddressBox, #CityBox, #StateBox, #ZipcodeBox, #FoodTypeBox {
    width: 311px;
    height: 33px;

    margin-top: 10px;

    background: #F7F6F5; 
    border: none;
    border-radius: 10px;

    font-size: 12px;
    color: #828282;
    padding-left: 16px;
}
::placeholder {
    // Font
    font-size: 12px;
    color: #828282;
}
#MerchantUserSubmit {
    width: 239px;
    height: 44px;    
    
    background: #F4B167;
    box-shadow: 0px 0px 10px rgba(130, 130, 130, 0.15);
    border: none;
    border-radius: 10px;

    // Font
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;

    margin-top: 30px;
    margin-left: 36px;
    margin-right: 36px;
}
