<div>
    <h2>Salud</h2>
</div>


<div id="text">
    <p>
        Celebrate your loved ones from anywhere!
    </p>

    <p>
        Celebrate your loved ones from anywhere. Order from the best locations near to those you’d like to celebrate. Salud!
    </p>
</div>


<div id="buttons">
    <p>
        <button routerLink="/salud-signup-screen"> Sign Up </button>
        <br>
        <button routerLink="/salud-login-personal-screen"> Log In </button>
        <br>
        <button routerLink="/salud-login-merchant-screen"> Log In as Merchant</button>
    </p>

</div>

<p>salud-welcome-screen works!</p>
