<div>
    <h2>Salud</h2>
</div>


<div id="text">
    <p>
        Celebrate your loved ones from anywhere!
    </p>

    <p>
        Celebrate your loved ones from anywhere. Order from the best locations near to those you’d like to celebrate. Salud!
    </p>
</div>


<div id="buttons">
    <p>
        <button id="button-signup" routerLink="/salud-signup-screen">Sign Up</button>
        <br>
        <button id="button-login" routerLink="/salud-login-personal-screen">Log In</button>
        <br>
    </p>
</div>
<div> 
    <button id="merchantbutton" routerLink="/salud-login-merchant-screen"><span>Click<span id="spanbold"> here </span>for Merchant Login</span></button>
</div>

<p>salud-welcome-screen works!</p>
