<div class="screen-container">
    <div id="head">
        <img src="../../assets/images/logoLarge.png" alt="" id="logoHead">
    </div>
    
    <div id="hero-img-container">
        <img src="../../assets/images/heroimg1.png" alt="" id="hero-img">
    </div>
    
    <div id="text">
        <p id="hero-text">
            Cheers is a global language. Celebrate your loved ones from anywhere with Salud.
        </p>
    </div>
    
    
    <div id="buttons">
        <div id="smallbuttons">
            <span>
                <button id="button-login" routerLink="/salud-login-personal-screen">Log In</button>
                <button id="button-signup" routerLink="/salud-signup-screen">Sign Up</button>
            </span>
        </div>
        <br>
        <button id="merchantbutton" routerLink="/salud-login-merchant-screen"><span>Click<span id="spanbold"> here </span>for Merchant Login</span></button>
    </div>
    <!-- <p>salud-welcome-screen works!</p> -->
</div>
