<div class="mobile-screen">
    <div class="screen-container">
        <div id="head">
            <h1><span id="header1">You're All </span><span id="header2">Set!</span></h1>
        </div>
        <button id="backtoMainMenu" (click)="backToOrderScreen()">Back to Orders Screen</button>
        <img id="thankyouIMG" src="../../assets/images/thankyouIMG.svg" alt="">
        <div id="text">
            <p>Thank you for using Salud to celebrate! Your recipient can redeem their gift in-store using their QR code.</p>
        </div>
        <!-- <p>Thank you for using Salud to celebrate {{recipient_name}}! {{recipient_name}} can redeem their gift in-store using their QR code.</p> -->        
    </div>
</div>