<div class="mobile-screen">
    <div class="screen-container">
        <div id="head">
            <h1><span id="header1">Order</span><span id="header2"> Confirmation</span></h1>
        </div>
        <div id="order-layout">
            <!-- <div id="recipient-info">
                <p id="categorylabel1">To: {{recipient_name}}</p>
            </div> -->
            <div id="location-info">
                <p>For: </p>
                <img src="assets\images\external-content.duckduckgo.com.jpg" width="100px" height="100px">
                <h1><span id="value1">{{recipient_name}}'s</span><span id="value2"> {{crudService.occasion}}</span></h1>
                <div id="recipient_information">
                    <!-- recipent info -->
                    <div id="recipientinfodiv"><span id="recipientinfolabel">Email: {{recipient_email}}</span><span id="recipientinfovalue"></span></div>
                    <div id="recipientinfodiv"><span id="recipientinfolabel">Phone: {{recipient_phone}}</span><span id="recipientinfovalue"></span></div>
                </div>
            </div>
            <div id="merchant-info">
                <h2 id="merchantname">{{merchant_name}}</h2>
                <p id="merchantaddress">{{merchant_address}}</p>
            </div>
            <div id="giftinfo"></div>
                <label id="giftinfo">{{crudService.food_type}}  {{crudService.order_amount}}</label>
            </div>
            <div id="pricing-info">
                <div id="pricinginfodiv"><span id="pricinglabel">Subtotal: </span><span id="pricingvalue">{{crudService.order_amount}}</span></div>
                <div id="pricinginfodiv"><span id="pricinglabel">Sales Tax: </span><span id="pricingvalue">$0.00</span></div>
                <div id="pricinginfodiv"><span id="pricinglabel">Processing Fee: </span><span id="pricingvalue">${{crudService.order_amount/10}}.00</span></div>
            </div>
            <div id="checkout">
                <label id="checkoutdiv"><span id="checkoutlabel">Total:</span><span id="checkoutvalue">${{crudService.order_amount+crudService.order_amount/10}}.00</span></label>
                <p></p>
                Payment Options: 
                <select id="paymentoptions">
                    <option value="Apple Pay">Apple Pay</option>
                    <option value="Google Play Services">Google Play Services</option>
                    <option value="PayPal">PayPal</option>
                </select>
            </div>
            <p></p>
            <div id="create-order">
                <button id="largebtn" (click)="placeOrder()">Submit Order</button>
            </div>
        </div>
    </div>
