<div id="head">
    
</div>
<div id="body" style="text-align: center">
    <div>
        From: {{crudService.redeemed_gifter}}
        <p></p>
        Use At: {{crudService.redeemed_merchant}}
        <p></p>
    </div>
    <div id="gift">
        <img width="200px" height="200px" src={{picture}} (click)="loadOrderQRCode()">
        <p>
        </p>
    </div>
    <div id="order-info">
        <p>
            {{crudService.redeemed_gifter}} said: {{description}}
            <br>
        </p>
    </div>
</div>

